.root {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid var(--color-semantic-border-default);
  background: var(--color-semantic-surface-primary);
  color: var(--color-semantic-text-primary);
  transition:
    box-shadow 150ms ease,
    border-color 150ms ease;
}

.root:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px var(--color-semantic-border-focus),
    0 0 0 8px rgba(0, 0, 0, 0.04);
}

.sm {
  padding: 0.25rem 1rem;
}

.md {
  padding: 0.5rem 1rem;
}

.lg {
  padding: 0.75rem 1rem;
}

.helperText {
  padding: 0;
  margin: 0;
}

.root[aria-invalid='true'] {
  border-color: var(--color-primitive-red-500);
}

.root:disabled,
.loading {
  opacity: 0.72;
  cursor: not-allowed;
}

.spinner {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: var(--radius-full);
  animation: spin 1000ms linear infinite;
  color: var(--color-semantic-action-primary-default);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.iconStart,
.iconEnd {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.iconStart {
  left: 0.5rem;
}

.iconEnd {
  right: 1rem;
}

.hasStartIcon {
  padding-left: 2rem;
}

.hasEndIcon {
  padding-right: 2.5rem;
}
